# Logs
ReactJs-NodeJs-mySQL/front-end/logs
ReactJs-NodeJs-mySQL/front-end/*.log
ReactJs-NodeJs-mySQL/front-end/npm-debug.log*
ReactJs-NodeJs-mySQL/front-end/yarn-debug.log*
ReactJs-NodeJs-mySQL/front-end/yarn-error.log*
ReactJs-NodeJs-mySQL/front-end/pnpm-debug.log*
ReactJs-NodeJs-mySQL/front-end/lerna-debug.log*

ReactJs-NodeJs-mySQL/front-end/node_modules
ReactJs-NodeJs-mySQL/front-end/node_modules
ReactJs-NodeJs-mySQL/backend/node_modules

node_modules
ReactJs-NodeJs-mySQL/front-end/dist
ReactJs-NodeJs-mySQL/front-end/dist-ssr
ReactJs-NodeJs-mySQL/front-end/*.local

# Editor directories and files
ReactJs-NodeJs-mySQL/front-end/.vscode/*
ReactJs-NodeJs-mySQL/front-end/!.vscode/extensions.json
ReactJs-NodeJs-mySQL/front-end/.idea
ReactJs-NodeJs-mySQL/front-end/.DS_Store
ReactJs-NodeJs-mySQL/front-end/*.suo
ReactJs-NodeJs-mySQL/front-end/*.ntvs*
ReactJs-NodeJs-mySQL/front-end/*.njsproj
ReactJs-NodeJs-mySQL/front-end/*.sln
ReactJs-NodeJs-mySQL/front-end/*.sw?
