body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

/* ==============navigation  decathlon start=============================== */
/* ____________menu bar button (start)_____________ */
.nav-bar-dont-scroll {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav-bar {
  display: grid;
  grid-template-columns: 2fr 3fr 6fr 3fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  padding: 0px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}
.nav-menu-icon {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.nav-menu-icon img {
  width: 30px;
  height: 30px;
}
.nav-menu-icon img:hover {
  cursor: pointer;
}
.nav-menu-icon img:active {
  transform: scale(0.9);
}
.nav-menu-icon span {
  font-size: 18px;
  color: #000;
  padding-left: 5px;
}
/* --------------Animation menu List card------------------------- */

.nav__menu {
  position: relative;
  z-index: 800;
  background-color: #f4f4f4;
  display: block;
  width: 0;
}

.is--active .nav__menu {
  width: 100%;
  height: 650px;
  border-radius: 0;
}
.nav__menu h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* ++++++++++++++++collection of list TAB ++++++++++++++++++++++++ */
.navtabs {
  display: none;
  justify-content: start;
  background: #f4f4f4;
  padding: 10px 20px;
  position: relative;
  border-bottom: solid rgb(153, 153, 153) 0.03rem;
}
.navtab {
  margin: 0 10px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
  font-size: 17px;
  font-weight: 800;
}

.navtab:hover {
  color: #3643ba;
}
.navtab.active {
  color: #3643ba;
  font-weight: 600;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #3643ba;
  transition: left 0.3s ease, width 0.3s ease;
}
.content {
  display: none;
}
.content.active {
  display: block;
}

.content.active {
  display: block;
}

.is--active .navtabs {
  display: flex;
}

.tab-inside-list {
  display: none;
}
.is--active .tab-inside-list {
  display: flex;
}
.is--active .all_list_elements-grid {
  display: flex;
}

/* **********************Grid Using******************************* */
.all_sports_list-grid {
  display: grid;
  grid-template-rows: repeat(2, 60%);
  grid-template-columns: repeat(5, 17%);
  grid-gap: 20px;
}
.all_sports_list-grid p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 20px;
}
.all_sports_list-grid-men {
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(4, 250px);
  grid-gap: 10px;
  grid-auto-rows: 100px 200px;
}
.all_sports_list-grid-men p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 20px;
}

.Outdoor-items {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: lighter;
  color: #001a31;
  padding-bottom: 10px;
}
.all_list_elements-grid {
  display: none;
  justify-content: space-between;
}
.all_list_elements-grid img {
  width: 200px;
  justify-self: end;
}
.nav-quick-link-text button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: white;
  background-color: #3643ba;
  border: none;
  width: 100%;
  height: 40px;
}
.nav-quick-link-text button:hover {
  cursor: pointer;
}
.nav-quick-link-text button:active {
  transform: scale(0.9);
}
.nav-quick-link-text button:focus {
  outline: none;
}

/* ____________menu bar button (end)_____________ */
.nav-quick-links-items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
}
.nav-quick-links-items a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.nav-quick-links-items span {
  text-align: end;
}
.nav-quick-links-items:hover {
  color: #3643ba;
}
.nav-quick-links-items :active {
  transform: scale(0.9);
}
.nav-quick-links-items :focus {
  outline: none;
}
/* ____________menu bar button (start)_____________ */

/* ++++++++++++++++collection of list TAB ++++++++++++++++++++++++ */

/* ----------------------------------- */

/* ____________menu bar button (end)_____________ */

/* ____________logo (start)_____________ */
.nav-logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo img {
  width: 150px;
  height: 50px;
}
/* ____________logo (end)_____________ */
/* ____________search (start)_____________ */
.nav-search-bar {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search-bar input {
  width: 300px;
  height: 30px;
  border: 1px solid #e9ecef;
  border-radius: 20px;
  padding: 5px;
}
.nav-search-bar img {
  width: 20px;
  height: 20px;
  padding: 5px;
}
.nav-search-bar img:hover {
  cursor: pointer;
}
.nav-search-bar img:active {
  transform: scale(0.9);
}

/* ____________search (end)_____________ */
/* ____________nav-delivery-location (start)_____________ */
.nav-delivery-location {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ____________nav-delivery-location (end)_____________ */
/* ____________nav-account (start)_____________ */
.nav-account {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: cencartter;
  align-items: center;
}
.nav-account img {
  width: 30px;
  height: 30px;
}
.nav-account img:hover {
  cursor: pointer;
}
.nav-account img:active {
  transform: scale(0.9);
}
.nav-account span {
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  font-weight: 700;
}
/* ____________nav-account (end)_____________ */
/* ____________nav-my-store (start)_____________ */
.nav-my-store {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-my-store img {
  width: 30px;
  height: 30px;
}
.nav-my-store img:hover {
  cursor: pointer;
}
.nav-my-store img:active {
  transform: scale(0.9);
}
.nav-my-store span {
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  font-weight: 700;
}

/* ____________nav-my-store (end)_____________ */
/* ____________nav-support (start)_____________ */
.nav-support {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-support img {
  width: 30px;
  height: 30px;
}
.nav-support img:hover {
  cursor: pointer;
}
.nav-support img:active {
  transform: scale(0.9);
}
.nav-support span {
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  font-weight: 700;
}
/* ____________nav-support (end)_____________ */
/* ____________nav-wishlist (start)_____________ */
.nav-wishlist {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-wishlist img {
  width: 30px;
  height: 30px;
}
.nav-wishlist img:hover {
  cursor: pointer;
}
.nav-wishlist img:active {
  transform: scale(0.9);
}
.nav-wishlist span {
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  font-weight: 700;
}
/* ____________nav-wishlist (end)_____________ */
/* ____________nav-cart (start)_____________ */
.nav-cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-cart img {
  width: 30px;
  height: 30px;
}
.nav-cart img:hover {
  cursor: pointer;
}
.nav-cart img:active {
  transform: scale(0.9);
}
.nav-cart span {
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  font-weight: 700;
}
/* ____________nav-cart (end)_____________ */

/* ==============navigation  decathlon end=============================== */

/* ==============home page start=============================== */
.offer-update_event_label-container {
  display: flex;

  height: 80px;
  width: 100%;
}
.offer-update_event_label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3643ba;
  height: 40px;
  width: 100%;
}
.offer-update_event_label p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: white;
}
.offer-update_event_label p:hover {
  cursor: pointer;
}
.offer-update_event_label p:active {
  transform: scale(0.9);
}
.offer-update_event_label p:focus {
  outline: none;
}

/* ================catagories-home_page_grid=============================== */
.catagories-home_page_grid {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.catagories-home_page_grid img {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}
.catagories-home_page_grid p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
  text-align: center;
  width: 100px;
}
/* ==================================== */
.carousel-home1 {
  position: relative;
}

.carousel-home1-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-home1-open:checked + .carousel-home1-item {
  position: static;
  opacity: 100;
}

.carousel-home1-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-home1-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-home1-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-home1-control.prev {
  left: 2%;
}

.carousel-home1-control.next {
  right: 2%;
}

.carousel-home1-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-home1-1:checked ~ .control-1,
#carousel-home1-2:checked ~ .control-2,
#carousel-home1-3:checked ~ .control-3 {
  display: block;
}

.carousel-home1-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-home1-indicators li {
  display: inline-block;
  margin: 0 2px;
}

.carousel-home1-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
}

.carousel-home1-bullet:hover {
  color: #aaaaaa;
}

#carousel-home1-1:checked
  ~ .control-1
  ~ .carousel-home1-indicators
  li:nth-child(1)
  .carousel-home1-bullet,
#carousel-home1-2:checked
  ~ .control-2
  ~ .carousel-home1-indicators
  li:nth-child(2)
  .carousel-home1-bullet,
#carousel-home1-3:checked
  ~ .control-3
  ~ .carousel-home1-indicators
  li:nth-child(3)
  .carousel-home1-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

/* ==============carousel image side move =============================== */

.policy_label_container {
  display: flex;
  justify-content: space-around;
  background-color: #f5f4f5;
  width: 100%;
  height: 50px;
}
.policy_label_container_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.policy_label_container img {
  width: 30px;
  height: 30px;
}
.policy_label_container_item span {
  text-align: center;
  color: #3643ba;
}
.policy_label_container_item span:hover {
  cursor: pointer;
}
.policy_label_container_item span:active {
  transform: scale(0.9);
}
.policy_label_container_item span:focus {
  outline: none;
}
/* ==============carousel image side move =============================== */

/* ==============Bestsellers_in_categories=============================== */

.bestsellers_in_categories h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10px;
}

/* ================Bestsellers_in_categories end======================= */

/* ==============banner_cover_image_static=============================== */

.banner_cover_image_static {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.banner_cover_image_static img {
  width: 100%;
  height: 100%;
}
/* ==============banner_cover_image_static=============================== */
/* ==============outdoor_essentials=============================== */
.outdoor_essentials h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10%;
}
.outdoor_essentials_card {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-around;
}
.outdoor_essentials_card img {
  width: 250px;
  padding-left: 5px;
  padding-right: 5px;
}
/* =========================================== */

.caroseal_home2 {
  position: relative;
}

.caroseal_home2-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.caroseal_home2-open:checked + .caroseal_home2-item {
  position: static;
  opacity: 100;
}

.caroseal_home2-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.caroseal_home2-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.caroseal_home2-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.caroseal_home2-control.prev2 {
  left: 2%;
}

.caroseal_home2-control.next2 {
  right: 2%;
}

.caroseal_home2-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#caroseal_home2-1:checked ~ .control-1-2,
#caroseal_home2-2:checked ~ .control-2-2,
#caroseal_home2-3:checked ~ .control-3-2 {
  display: block;
}

.caroseal_home2-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.caroseal_home2-indicators li {
  display: inline-block;
  margin: 0 2px;
}

.caroseal_home2-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
}

.caroseal_home2-bullet:hover {
  color: #aaaaaa;
}

#caroseal_home2-1:checked
  ~ .control-1-2
  ~ .caroseal_home2-indicators
  li:nth-child(1)
  .caroseal_home2-bullet,
#caroseal_home2-2:checked
  ~ .control-2-2
  ~ .caroseal_home2-indicators
  li:nth-child(2)
  .caroseal_home2-bullet,
#caroseal_home2-3:checked
  ~ .control-3-2
  ~ .caroseal_home2-indicators
  li:nth-child(3)
  .caroseal_home2-bullet {
  color: #428bca;
}
/* ========================================= */

.caroseal_home3 {
  position: relative;
  margin-top: 30px;
}

.caroseal_home3-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.caroseal_home3-open:checked + .caroseal_home3-item {
  position: static;
  opacity: 100;
}

.caroseal_home3-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.caroseal_home3-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.caroseal_home3-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.caroseal_home3-control.prev3 {
  left: 2%;
}

.caroseal_home3-control.next3 {
  right: 2%;
}

.caroseal_home3-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#caroseal_home3-1:checked ~ .control-1-3,
#caroseal_home3-2:checked ~ .control-2-3,
#caroseal_home3-3:checked ~ .control-3-3 {
  display: block;
}

.caroseal_home3-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.caroseal_home3-indicators li {
  display: inline-block;
  margin: 0 2px;
}

.caroseal_home3-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
}

.caroseal_home3-bullet:hover {
  color: #aaaaaa;
}

#caroseal_home3-1:checked
  ~ .control-1-3
  ~ .caroseal_home3-indicators
  li:nth-child(1)
  .caroseal_home3-bullet,
#caroseal_home3-2:checked
  ~ .control-2-3
  ~ .caroseal_home3-indicators
  li:nth-child(2)
  .caroseal_home3-bullet,
#caroseal_home3-3:checked
  ~ .control-3-3
  ~ .caroseal_home3-indicators
  li:nth-child(3)
  .caroseal_home3-bullet {
  color: #428bca;
}
/* =============================================================== */

/* ============ product_trending_title_home_page======================================= */
.product_trending_master {
  background-color: #e9ecef;
}
.product_trending_title_home_page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 10;
}
.product_trending_title_home_page p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  width: 100px;
  font-weight: 500;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10%;
}
.product_title-side {
  padding-left: 100px;
}
.product_title-side-right {
  padding-right: 100px;
  display: flex;
  margin-top: 30px;
}
/* ----------------------------------------------- */

#productSider .arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 1;
  font-size: 26px;
  color: white;

  cursor: pointer;
}

#productSider #prev {
  right: 70px;
}

#productSider #next {
  right: 0;
}

#carousel-vp {
  width: 90%;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 810px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#productSider #productSider-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 10px;
  left: 0px;
}

#productSider {
  margin-bottom: 20px;
}

.productSider-item {
  width: 270px;
  height: 460px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.productSider-item img {
  width: 100%;
  object-fit: cover;
  min-height: 246px;
  color: white;
}

.productSider-item .infos {
  height: 200px;
  background: white;
  color: black;
  padding: auto;
}
.infos-titles {
  font-size: 20px;
  font-weight: 900;
  padding-left: 10px;
}
.infos-description {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
}
.infos-price {
  font-size: 20px;
  font-weight: 900;
  color: #3643ba;
  padding-left: 10px;
}
.infos-add-to-cart {
  font-size: 15px;
  font-weight: 900;
  color: white;
  background-color: #3643ba;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.infos-add-to-cart:hover {
  cursor: pointer;
}
.infos-add-to-cart:active {
  transform: scale(0.9);
}
.infos-add-to-cart:focus {
  outline: none;
}
/* ============ product_trending_title_home_page======================================= */

/* =======brands_contaner_grid===================== */
.brands_contaner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}
.brands_contaner h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10%;
}

.brands_contaner_grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.brands_contaner_grid img {
  width: 100px;
}
.brands_contaner_grid p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
}
/* =========================================== */

.book-your-slot-today {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

.book-your-slot-today h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10%;
}
.book-your-slot-today-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  text-align: center;
}
.book-your-slot-today-grid img {
  border-radius: 15px;
  max-width: 300px;
}

/* =========4 . caroseal 4============================== */

.caroseal_home4 {
  position: relative;
  margin-top: 30px;
}

.caroseal_home4-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.caroseal_home4-open:checked + .caroseal_home4-item {
  position: static;
  opacity: 100;
}

.caroseal_home4-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.caroseal_home4-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.caroseal_home4-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.caroseal_home4-control.prev4 {
  left: 2%;
}

.caroseal_home4-control.next4 {
  right: 2%;
}

.caroseal_home4-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#caroseal_home4-1:checked ~ .control-1-4,
#caroseal_home4-2:checked ~ .control-2-4,
#caroseal_home4-3:checked ~ .control-3-4 {
  display: block;
}

.caroseal_home4-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.caroseal_home4-indicators li {
  display: inline-block;
  margin: 0 2px;
}

.caroseal_home4-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
}

.caroseal_home4-bullet:hover {
  color: #aaaaaa;
}

#caroseal_home4-1:checked
  ~ .control-1-4
  ~ .caroseal_home4-indicators
  li:nth-child(1)
  .caroseal_home4-bullet,
#caroseal_home4-2:checked
  ~ .control-2-4
  ~ .caroseal_home4-indicators
  li:nth-child(2)
  .caroseal_home4-bullet,
#caroseal_home4-3:checked
  ~ .control-3-4
  ~ .caroseal_home4-indicators
  li:nth-child(3)
  .caroseal_home4-bullet {
  color: #428bca;
}

/* ================================================================ */

.read-our-sporty-stories {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

.read-our-sporty-stories-header h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
}
.read-our-sporty-stories-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10;
  padding-top: 10px;
  margin-top: 30px;
}
.read-our-sporty-stories-header img {
  width: 250px;
  height: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.read-our-sporty-stories-header button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border: solid gray 1px;
  background-color: #fff;
}
.read-our-sporty-stories-header button:hover {
  cursor: pointer;
}
.read-our-sporty-stories-header button:active {
  transform: scale(0.9);
}

.read-our-sporty-stories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

/* ==================== */
.blog_grid_card {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #f4f4f4;
  height: 320px;
  border-radius: 10px;
}
.blog_grid_card-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.blog_grid_card p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
}
.blog-readmore-button-data p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: #3643ba;
  padding-right: 10px;
}
.blog-readmore-button-data p:hover {
  cursor: pointer;
}
.blog-readmore-button-data p:active {
  transform: scale(0.9);
}
.blog-readmore-button-data span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
  padding-left: 10px;
}
/* =========our-sport-collections======================== */
.our-sport-collections {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}
.our-sport-collections-title h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10%;
}
.our-sport-collections-list p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6bb3;

  padding-left: 10%;
  padding-right: 10%;
}

/* ==================footer===================== */

.footer-container {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 0.4fr 1.6fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}
.our-promise-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f4f4f4;
}
.our-promise-title-header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #4e5d6b;
  display: flex;
}

.footer-our-promise-icon {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 5px;
}
.footer-our-promise-icon img {
  width: 25px;
  height: 25px;
  padding-top: 10px;
}
.footer-our-promise-icon p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
}
/* ============ */

.footer-right-top {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #f4f4f4;
  padding-bottom: 10px;
}
.footer-download-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
}

.footer-right-bottom {
  display: flex;
  text-align: start;
  flex-direction: column;
  background-color: #f4f4f4;
  padding-bottom: 10px;
}

.footer-soical-media-right-bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer-soical-media-right-bottom img {
  width: 30px;
  height: 30px;
  background-color: #344450;
  border-radius: 5px;
  padding: 5px;
}
.footer-follow-title-media-right-bottom p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #4e5d6b;
  padding-top: 10px;
  padding-left: 10%;
}

.footer-blog-link-right-bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer-blog-link-right-bottom button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #4e5d6b;
  background-color: #ffffff;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 6px;
}
.footer-blog-link-right-bottom button:hover {
  cursor: pointer;
}
.footer-blog-link-right-bottom button:active {
  transform: scale(0.9);
}
.footer-blog-link-right-bottom button:focus {
  outline: none;
}
.footer-blog-link-right-bottom button:disabled {
  background-color: #f4f4f4;
  color: #4e5d6b;
}
/* ================= */
.footer-left-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -50px;
}
.footer-SUPPORT {
  display: flex;
  flex-direction: column;
}
.footer-SUPPORT h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: #4e5d6b;
}
.footer-SUPPORT p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4e5d6b;
}

.footer-left-bottom-section-master {
  display: flex;
  flex-direction: column;
}
.footer-left-bottom-line {
  background-color: #0000005d;
  height: 1px;
}
.footer-left-site-bottom-payment-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}
.footor-secure-transation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footor-secure-transation img {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}
.footor-secure-transation-inner p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #4e5d6b;
}
.footor-secure-transation-inner span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4e5d6b89;
}
.paytment-icons-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 3px;
}
.paytment-icons-list img {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}
.footer-site-map {
  padding-top: 20px;
  height: 20px;
  width: 80px;
}
.footer-site-map p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4e5d6b;
}
.footer-site-map2 {
  padding-top: 20px;
}
.footer-site-map2 p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4e5d6b;
}

.footer-site-map2 span {
  padding: 5px;
  border: solid gray 1px;
  border-radius: 5px;
}
/* ================================= */
/* footer copyright center  */
.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 50px;
}

.footer-center-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 50px;
}
.footer-center-inner p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #4e5d6b;
}

/* =============Mobile screen responsive============================= */

@media (max-width: 768px) {
  .outdoor_essentials_card img {
    width: 127px;
    padding-left: 5px;
    padding-right: -20px;
}
.outdoor_essentials_card img {
  width: 146px;
  padding-left: 5px;
  padding-right: -20px;
}




  .nav-bar-dont-scroll {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .nav-account {
    width: 30px;
  }
  .nav-account img {
    width: 30px;
    margin-top: 5px;
    padding-left: 5px;
  }
  .nav-account span {
    display: none;
  }
  .nav-support {
    display: none;
  }
  .nav-my-store {
    display: none;
  }
  .nav-wishlist {
    display: none;
  }
  .nav-cart {
    display: none;
  }
  .read-our-sporty-stories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .read-our-sporty-stories {
    display: flex;
    flex-direction: column;
  }
  .read-our-sporty-stories-header img {
    display: none;
  }
  .book-your-slot-today-grid {
    display: grid;
    flex-direction: column;
  }
  .book-your-slot-today-grid {
    width: 200px;
  }

  .nav-menu-icon img {
    width: 20px;
    height: 20px;
  }
  .nav-menu-icon {
    padding-left: 0px;
  }
  .nav-menu-icon span {
    display: none;
  }
  .nav-logo img {
    width: 80px;
  }
  #carousel-vp {
    width: 318px;
  }
  .blog_grid_card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #f4f4f4;
    height: 221px;
    border-radius: 10px;
  }
  .footer-left-site-bottom-payment-area {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  .footer-SUPPORT {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
  .nav-search-bar {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .blog-readmore-button-data p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #3643ba;
    padding-right: 10px;
  }
  .nav-search-bar input {
    width: 103px;
    height: 33px;
    border: 1px solid #e9ecef;
    border-radius: 20px;
    padding: 5px;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
  }
  .book-your-slot-today-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .book-your-slot-today-grid img {
    width: 150px;
  }
  .outdoor_essentials_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .outdoor_essentials_card img {
    width: 150px;
  }

  .brands_contaner_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .blog_grid_card {
    width: 150px;
  }
  .blog-readmore-button-data p {
    font-size: 15px;
  }
  .catagories-home_page_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .nav-search-bar {
    width: 200px;
  }
  .nav-delivery-location {
    display: none;
  }

  .our-promise-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-left-bottom-section {
    margin-top: 0;
  }
  .paytment-icons-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 3px;
  }
  .footer-left-site-bottom-payment-area {
    display: flex;
    flex-direction: column;
  }
  .our-promise-title-header {
    width: 40px;
  }
  .our-promise-title {
    display: none;
  }

  .footer-left-bottom-section-master {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
  }

  .footer-left-bottom-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
  }
  .all_sports_list-grid {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .all_sports_list-grid-men {
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(4, 250px);
    grid-gap: 10px;
    padding: 10px;
    /* padding-right: 890px; */
    grid-auto-rows: 100px 200px;
  }
  .outdoor_essentials_card img {
    width: 153px;
    padding-left: 5px;
    padding-right: -20px;
}


}
.outdoor_essentials_card img {
  width: 198px;
  padding-left: 5px;
  padding-right: -20px;
}

@media (max-width: 375px) {
  .outdoor_essentials_card img {
    width: 150px;
    padding-left: 5px;
    padding-right: -20px;

}
.nav-search-bar {
  width: 164px;
}
.nav-search-bar img {
  display: none;
}
.nav-bar {
  padding-right: 0;
}
.nav-logo img {
  width: 80px;
  padding-right: 10px;
}

}
@media (max-width :468px) {
  .outdoor_essentials_card img {
    width: 106px;
    padding-left: 5px;
    padding-right: -20px;
}


  
}
@media (max-width : 300px) {
  .outdoor_essentials_card img {
    width: 106px;
    padding-left: 5px;
    padding-right: -20px;
}


}
